# 编译输出目录
target/
# maven 编译输出目录
**/target/

# maven 本地仓库
.mvn/

# eclipse
.classpath
.project
.settings/

# intellij
.idea/
*.iml

# 日志文件
*.log
logs/

# 临时文件
*.tmp
temp/

# 系统文件
.DS_Store

# 数据库文件（如果项目中有嵌入式数据库文件不想提交）
*.db

# 配置文件
application-test.properties
application-dev.properties

privateKeyBase64.txt
publicKeyBase64.txt

