<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rookie.stack.im.mapper.group.ImGroupMapper">

    <resultMap id="BaseResultMap" type="com.rookie.stack.im.domain.entity.group.ImGroup">
            <id property="appId" column="app_id" jdbcType="INTEGER"/>
            <id property="groupId" column="group_id" jdbcType="BIGINT"/>
            <result property="ownerId" column="owner_id" jdbcType="BIGINT"/>
            <result property="groupType" column="group_type" jdbcType="TINYINT"/>
            <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
            <result property="mute" column="mute" jdbcType="TINYINT"/>
            <result property="applyJoinType" column="apply_join_type" jdbcType="TINYINT"/>
            <result property="photo" column="photo" jdbcType="VARCHAR"/>
            <result property="maxMemberCount" column="max_member_count" jdbcType="INTEGER"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="notification" column="notification" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sequence" column="sequence" jdbcType="BIGINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="extra" column="extra" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        app_id,group_id,owner_id,
        group_type,group_name,mute,
        apply_join_type,photo,max_member_count,
        introduction,notification,status,
        sequence,created_at,updated_at,
        extra
    </sql>
</mapper>
